* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    position: relative;
}

header {
    padding: 20px 30px;
    background-color: lightcoral;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header img {
    width: 50px;
    height: 50px;   
}

nav {
    background-color: gray;
    padding: 10px 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration-line: none;
    
}

nav ul li a:hover {
    color: salmon;
}

section {
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
}

section div {
    display: flex;
    flex-direction: column;
}

section h2 {
    margin-bottom: 20px;
}

section div table {
    border: 1px solid black;
}

section div table tr, section div table tr td,
section div table tr th {
    border: 1px solid black;
    width: 130px;
    
}

section div table tr th {
    background-color: lightsalmon;
}

section div form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

section div form input {
    margin-bottom: 10px;
}

footer {
    background-color: gray;
    color: white;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
}