* {
    box-sizing: border-box;
    margin: 0;
}

.test {
    background-color: red;
    width: 500px;
    height: 500px;

    animation: box-change 500ms;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes box-change {
    from {
        background-color: red;
    }

    to {
        background-color: aqua;
    }
}